body{
    background-color: brown;
}
h1{
    font-size: 80px;
    text-align: center;
    color: black;
}
p{
    font-size: 60px; 
    text-align: center;
    color: beige;
}
img{
    width: 300px;
    margin-left: 800px;
}